*.js
!jest.config.js
*.d.ts
node_modules

#lambda binary

lambda/msg-event/bootstrap
lambda/msg-event/Makefile

# CDK asset staging directory
.cdk.staging
cdk.out
package.json
tsconfig.json
package-lock.json

#.gitignore
.gitignore

# LLM
code-assist
